<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <form action="" method="POST">
{% csrf_token %}
<div class="card hidden" id="target" style="width: 14rem;">
{% load static %}
<!--{% static 'tree\chirag photo.jpg' %}-->

  <img id="blah" name="image" src="https://us.123rf.com/450wm/apoev/apoev1903/apoev190300009/124806570-stock-vector-person-gray-photo-placeholder-man-in-t-shirt-on-gray-background.jpg?ver=6" src="readURL(this);" alt="your image" width="223" height="180" />
  <input type='file' onchange="readURL(this);" />

    <div class="card-body">
<!--        <h3><p>{{images.0.image_person_name}}</p></h3>-->
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default-name">NAME</span>
  </div>
  <input type="text" name="student_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default-name">
</div>
      <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default-class">CLASS</span>
  </div>
  <input type="text" name="student_class" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default-class">
</div>
        <input class="btn btn-primary" type="submit" value="Submit">
  </div>


    </div>
  </div> 
   <center><div class="card hidden" id="target" style="width: 14rem;">
{% load static %}
<!--{% static 'tree\chirag photo.jpg' %}-->

  <img id="blah1" src="https://us.123rf.com/450wm/apoev/apoev1903/apoev190300009/124806570-stock-vector-person-gray-photo-placeholder-man-in-t-shirt-on-gray-background.jpg?ver=6" src="readURL(this);" alt="your image" width="223" height="180" />
  <input type='file' onchange="readURL(this);" />

    <div class="card-body">
<!--        <h3><p>{{images.0.image_person_name}}</p></h3>-->
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default-name">NAME</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default-name">
</div>
      <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default-roll">ROLL NO.</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default-roll">
</div>
      <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default-class">CLASS</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default-class">
</div>
        <input class="btn btn-primary" type="submit" value="Submit">
  </div>


    </div>
  </div> </center>
    </form>

  <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                     .width(223)
                     .height(180);
            };
            reader.onload = function (e) {
                $('#blah1')
                    .attr('src', e.target.result)
                     .width(223)
                     .height(180);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
  </script>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>